.about-logo-container {
	display: flex;
	justify-content: left;
	padding-top: 25px;
}

.about-logo {
	display: flex;
	position: fixed;
	border: 1px solid white;
	border-radius: 50%;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
	top: 4vh;
}

.about-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0;
	padding-top: 120px;
}

.about-main {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	max-width: 1000px;
	margin: 0 auto;
	padding: 1rem;
}

.about-text-side {
	flex: 2;
	min-width: 300px;
}

.about-image-side {
	flex: 1;
	min-width: 250px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.about-title {
	font-size: 2rem;
	font-weight: bold;
	margin-bottom: 1rem;
}

.about-paragraph {
	margin-bottom: 1rem;
	line-height: 1.6;
}

.about-image-container {
	width: 100%;
	max-width: 370px;
}

.about-image-wrapper {
	display: inline-block;
	overflow: hidden;
	width: 100%;
	border-radius: 10%;
	transform: rotate(3deg);
}

.about-image-wrapper img {
	display: block;
	width: 100%;
}

.about-socials {
	padding-top: 50px;
	padding-bottom: 50px;
}

.about-socials-mobile {
	display: none;
}

@media (max-width: 1024px) {
	.about-main {
		flex-direction: column;
		align-items: center;
	}

	.about-image-container {
		padding-bottom: 40px;
		width: 80%;
	}

	.about-socials {
		display: none;
	}

	.about-socials-mobile {
		padding-top: 30px;
		display: flex;
	}
}

@media (max-width: 600px) {
	.about-container {
		padding-top: 60px;
	}
}
